<h1 style="text-align: center;" class="display-4">Noticias BR</h1>
<div class="table-responsive">
    <table class="table table-dark">
        <tr *ngFor="let new of news">
            <td>
                    <p style="text-align: center;">{{ new.title }} {{ new.author }}</p>
                    <p style="text-align: center; font-size: 0.8em;"><em>Publicando em {{ new.publishedAt | date:'dd/MM h:mm a' }}</em></p>
                    <button type="button" class="btn btn-sm btn-dark "><a style="color: white;"href="{{ new.url }}" target="_blank">Acessar o site</a></button>
            </td>
        </tr>
    </table>
</div>
